<link rel="stylesheet" href="../css/style.css">





<!-----------------------------------JumboTron---------------------------------------------------------->
<div class="cover text-black category-jumbotron">
    <div class="cover-content d-flex flex-column justify-content-center align-items-center upper">
        <img id="one" src="../image/grassBG.png" alt="" class="img-fluid banner-pic" />
    </div>
</div>



<!----------------------------------Examples of Category of Cuisine --------------------------------------------------------------->

<div>
    <h2 id="buddy" class="pt-3 px-4">Best {{ cuisine }} Recipes </h2>
</div>


{{!-- {{#each example.cuisine }} --}}
{{#each recipes }}
<div class="container my-4 recipe">
    <div class="row">
        <div class="col-md-7">
            <a href="../recipe/{{this.api_id}}">
                <img class="img-fluid rounded mb-3 mb-md-0" src="{{ image_path}} " alt="Photo unavailable">
            </a>
        </div>
        <div class="col-md-5">
            <a href="../recipe/{{this.api_id}}">
                <h3>{{ title }}</h3>
            </a>
            <h5>By: {{author}}</h5>
            <p>
                {{this.rating}}
                <i class="fab fa-pagelines"></i>
                <button id="post-bookmark" type="button" class="mx-3 bookmark-add-btn btn btn-danger"
                    name="add-bookmark" data-recipeid={{this.api_id}}>Bookmark</button>
            </p>

            <button id="readmore-{{this.api_id}}" data-recipeid={{this.api_id}} class="btn btn-info read-more">Read
                More</button>

            <p class="summary" id="summary-{{this.api_id}}" data-recipeid={{this.api_id}} style="display:none">
                {{{summary}}}</p>
        </div>
    </div>


</div>
{{/each}}