<div class="grid-wrapper first" style="position: absolute;; top: 640px; height: auto; width: 100%;">
    <h1 class="recipe-container-title primary-dark h4-text font-bold">Top Rated Recipes</h1>
</div>




<data-spy="scroll" data-target="#nav-scroll" data-offset="56">
    <header class="header" id="home">
        <!---------------------  NavBar  Left ------------------------------------------------------------------------->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="nav-scroll">
            <div class="container">
                <a href="#" class="navbar-brand">Cooking Corner</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-----------------------------Navbar Links right hand side------------------------------------------------------------- -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto ">

                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Categories
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/category/cuisine=Japanese">Japanese</a></li>
                                <li><a class="dropdown-item" href="/category/cuisine=Italian">Italian</a></li>
                                <li><a class="dropdown-item" href="/category/cuisine=Chinese">Chinese</a></li>
                                <li><a class="dropdown-item" href="/category/cuisine=Mediterranean">Mediterranean</a></li>
                                <li><a class="dropdown-item" href="/category/cuisine=Vietnamese">Vietnamese</a></li>
                                <li><a class="dropdown-item" href="/category/cuisine=Thai">Thai</a></li>
                                <li><a class="dropdown-item" href="/category/ingredient=Chicken">Chicken</a></li>
                                <li><a class="dropdown-item" href="/category/ingredient=Rice">Rice</a></li>
                                <li><a class="dropdown-item" href="/category/ingredient=Pasta">Pasta</a></li>
                                <li><a class="dropdown-item" href="/category/ingredient=Beef">Beef</a></li>
                                <li><a class="dropdown-item" href="/category/ingredient=Pork">Pork</a></li>
                                <li><a class="dropdown-item" href="/category/ingredient=Egg">Egg</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" href="/category/bookmarks">Bookmarks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Login</a>
                        </li>

                    </ul>
                </div>

            </div>
        </nav>

        <!--    ----------------------------End Navbar ------------------------------------------------------>

        <!-----------------------------------JumboTron---------------------------------------------------------->
        <div class="cover container-fluid text-black">
            <div class="cover-content d-flex flex-column justify-content-center align-items-center">
                {{!-- <img id="one" src="{{ recipes[0].image_path }}" alt="" class="rounded-circle" /> --}}
                <img id="one" src="https://spoonacular.com/recipeImages/637908-312x231.jpg" alt=""
                    class="rounded-circle" />

                <h1 id="firsth" class="display-5 text-capitalize pt-4 pt-md-0">
                    {{!-- {{ Ethnicity of cuisine }} --}}
                    {{!-- {{ recipes[0].cuisine_name }} --}}
                    <p>I don't know what it is</p>
                </h1>
                <h6 id="buddy" class="pt-3 h4">Recipes for best {{ cuisine }} cuisine</h6>
            </div>
        </div>
    </header>

    <!--   ----------------------------------The Search Bar --------------------------------------------------------->

    <div class="search">
        <form class="d-flex justify-content-center">
            <input class="typeahead form-control me-2" type="search" placeholder="Search recipes" aria-label="Search">
        </form>
    </div>



    <!----------------------------------Examples of Category of Cuisine --------------------------------------------------------------->

    {{!-- {{#each example.cuisine }} --}}
    {{#each recipes }}
    <div id="container">

        <!-- Start Product details -->
        <div class="product-details">

            <!-- 	Product Name -->
            {{!-- <h1>{{ name of dish }}</h1> --}}
            <h1>{{ title }}</h1>
            {{!-- <p>{{author of dish}}</p> --}}
            <p>{{ author }}</p>
            <span class="hint-star star">
                {{!-- {{ user rating }} --}}
                {{ rating }}
            </span>


            {{!-- <p class="information">"{{ info descripton of the dish}} "</p> --}}
            <p class="information">"{{{ summary }}} "</p>

        </div>

        <!-- 	Start product image & Information -->

        <div class="product-image">

            {{!-- <img src="{{ image of the dish }}" alt=""> --}}
            <img src="{{ image_path }}" alt="">

            <div class="info">
                {{!-- <h2 id="receipeid">{{ name of receipe}}</h2> --}}
                <h2 id="receipeid">{{ title }}</h2>
                <ul>
                    {{!-- <li><strong>{{ user rating }}</li>
                    <li><strong>{{ bookmark }}</li> --}}
                    <li><strong>{{ rating }}</li>

                </ul>
            </div>
        </div>
        <!--  End product image  -->


    </div>
    {{/each}}


    <!-------------------------------------------Footer --------------------------------------------------------------------->
    <footer class="text-center bg-dark py-3">
        <p class="text-white mb-0">Receipes under Xccelerate</p>
    </footer>