<form action="/logout" method="GET">
  <button type="submit">Logout</button>
</form>

<!-- -----------------------------------------Jumbotron  ---------------------------------------------------- -->

<main class="jumbotron container-fluid cover">

  <div class="row align-items-center justify-content-center justify-content-xl-start vh-80">
    <div class="col col-sm-7 text-center text-xl-right col-xl-4 offset-xl-2">
      <h1 class="mb-5">We Have the Best Receipes From All Over the World!</h1>
      <p id="drinks" class="mb-5 subtitle-mb">Endless Joy and Cooking</p>

    </div>
  </div>
</main>



<div class="container-fluid search">
  <div class="search-bar">
    <form class="d-flex justify-content-center">
      <input class="typeahead form-control me-2" type="search" placeholder="Search recipes" aria-label="Search">
    </form>
  </div>

  <section class="text-center">
    <h3>Top Rated Recipes</h3>
    <div class="row">

      {{#each info}}
      <div class="card col-lg-3 col-md-6 col-sm-12">
        <a href="../recipe/{{this.api_id}}">
          <img class="img-fluid" src="{{this.image_path}}">
        </a>
        <div class="container">
          <div class="row">
            <div class="col">
              <a href="../recipe/{{this.api_id}}">
                {{this.title}}
              </a>
              <div class="col">
                {{this.rating}}
                <i class="fab fa-pagelines"></i>
              </div>
            </div>
            <div class="col">
              <button id="post-bookmark" type="button" class="bookmark-add-btn btn btn-primary" name="add-bookmark"
                data-recipeid={{this.api_id}}>Bookmark</button>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </section>
</div>