{{!-- <div class="container-fluid info-container justify-content-center">
    <div class="row">
        <div class="image-container col">
             <h3>Title</h3>
             <p>{{title}}</p>
             <h4>By:</h4>
             <p>{{author}}</p>
            <img class="img-fluid" src="{{image_path}}">
        </div>
        <div class="function container col">
            <p>{{preparation_time}}</p>
            <p>{{servings}}</p>
              <br>
            <button type="button" class="bookmarks-btn btn btn-primary">Bookmark</button>
            <p>Ratings</p>
        </div>
    </div>
<section class="text-center">
  
        <div class="description container">
            <h3>Description</h3>
            <p>{{summary}}</p>
        </div>
        <div class="ingredients container">
            <h3>Ingredients</h3>
            <p>{{ingredients}}</p>
        </div>
        <div class="instructions container">
            <h3>Instructions</h3>
            <p>{{instructions}}</p>
        </div>
</section>
   <section class="text-center">
       <h3>Related</h3>
    <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    </div>

   </section>
</div> --}}

<div class="container-fluid info-container justify-content-center">
    <div class="row">
        <div class="image-container col">
             <h3>Title</h3>
             <p>{{recipe.title}}</p>
             <h4>By:</h4>
             <p>{{recipe.sourceName}}</p>
            <img class="img-fluid" src="{{recipe.image}}">
        </div>
        <div class="function container col">
            <p>{{recipe.readyInMinutes}}</p>
            <p>{{recipe.servings}}</p>
              <br>
            <button type="button" class="bookmarks-btn btn btn-primary">Bookmark</button>
            <p>Ratings</p>
        </div>
    </div>
<section class="text-center">
  
        <div class="description container">
            <h3>Description</h3>
            <p>{{recipe.summary}}</p>
        </div>
        <div class="ingredients container">
            <h3>Ingredients(to be done)</h3>
            {{#each recipe.extendedIngredients}}
            <div>
                <p>id:{{id}}</p>
                <p>name:{{nameClean}}</p>
                <p>amount:{{amount}}</p>
                <p>unit:{{unit}}</p>
            </div>
            {{/each}}
        </div>
        <div class="instructions container">
            <h3>Instructions</h3>
            <p>{{recipe.instructions}}</p>
        </div>
        <div class="analyzed instructions container">
            <h3>Analyzed Instructions</h3>
            <p>{{recipe.analyzedInstructions}}</p>
        </div>
        <div class="myReview">
            <h3>my Review</h3>
            {{#each recipe.myReview}}
            <div>
                <p>user_id:{{user_id}}</p>
                <p>recipe_id:{{recipe_id}}</p>
                <p>rating:{{rating}}</p>
                <p>comment:{{comment}}</p>
                <p>username:{{username}}</p>
            </div>
            {{/each}}
        </div>
        <div class="recipe Review">
            <h3>recipe Review</h3>
            <p>{{recipe.recipeReview}}</p>
        </div>
</section>
   <section class="text-center">
       <h3>Related</h3>
    <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    </div>

   </section>
</div>


