<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<link rel="stylesheet" href="../css/recipe.css">
<link rel="stylesheet" href="../css/style.css">

<div class="recipeTitle">
    <h2><b>{{title}}</b></h2>
    <h4>By: {{author}}</h4>
</div>
<br>


<div class="container-fluid info-container justify-content-center">
    <div class="row">

        <div class="image-container col">

            <img class="img-fluid" src="{{image}}">
        </div>
        <div class="detail-container col">
            <div class="list-inline">
                <p><b>Preparation Time:</b> {{time}} mins </p>
                <p><b>Servings:</b> {{servings}}</p>
                <p><b>Score:</b> {{score}}
                    <i class="fab fa-pagelines"></i>
                </p>

            </div>
            <br>
            <button id="post-bookmark" type="button" class="bookmark-add-btn btn btn-primary" name="add-bookmark"
                data-recipeid={{api_id}}>Bookmark</button>

            <div class="social-container">

                <a class="social-icon" data-tooltip="email@gmail.com" href="mailto:email@gmail.com" target="_blank">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>

                <a class="social-icon" data-tooltip="Twitter" href="https://twitter.com/share?ref_src=twsrc%5Etfw"
                    target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>

                <a class="social-icon" data-tooltip="Facebook"
                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
                    target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>

            </div>
        </div>
    </div>
</div>

<section class="text-center">
    <div class="description container">
        <h3>Description</h3>
        <p id="summary"></p>
        <p id='hiddendata'>{{{summary}}}</p>
    </div>
    <div class="ingredients container">
        <h3>Ingredients</h3>
        {{#each ingredients}}
        <div>
            <p>{{this.amount}} {{this.unit}} {{this.nameClean}}</p>
        </div>
        {{/each}}
    </div>
    <div class="instructions container">
        <h3>Instructions</h3>
        {{#each instructions}}
        <div>
            <p>{{math @index "+" 1}} {{this}}</p>
        </div>
        {{/each}}
    </div>
</section>


{{!-- COMMENTS / REVIEWS --}}
<div class="container-fluid info-container flex-column d-flex justify-content-center">
    <div class="row">
        <div class="comment-container col-12">
            <div class="comment-title col-6 row">
                <h2><b>Comments</b></h2>
            </div>
        </div>

        {{!-- {{#if user}} --}}
        {{#if myReview}}
        <div class="my-review">
            <article class="card card-body own-review">
                <div class="row">
                    <div class="col-md-6">
                        <p><b>Username:</b> {{myReview.[0].username}}</p>
                        <div class="star-rating">
                            <div class="list-inline">
                                <p><b>Rating:</b> {{myReview.[0].rating}} <i class="fa fa-star"></i></p>
                            </div>
                        </div>
                        <p class="display-area"><b>Your Comment:</b> {{myReview.[0].comment}}</p>
                        <button class="edit-btn btn btn-outline-warning">Edit Your Review</button>
                        <button class="del-btn btn btn-outline-danger">Delete</button>
                    </div>
                </div>
            </article>
        </div>
        {{else}}
        {{!-- WRITE NEW REVIEW --}}
        <div class="row">
            <div class="review col-12">
                <div class="float-left">
                    <div class="review starrating risingstar d-flex justify-content-center flex-row-reverse col-12">
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5"
                            title="5 star"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4"
                            title="4 star"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3"
                            title="3 star"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2"
                            title="2 star"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1"
                            title="1 star"></label>
                    </div>
                </div>
            </div>
            <div>
                <div>

                    <div class="review col-12"><textarea class="note-area" cols="60" rows="10" name="note"
                            placeholder="Write your review or comment to the recipe here!"></textarea></div>
                    <div class="review col-12">
                    </div>

                </div>
                <div class="review col-12">
                    <button id="post" type="button" class="btn btn-outline-warning">SUBMIT</button>

                </div>

            </div>
            {{/if}}
            {{!-- {{/if}} --}}
            {{!-- EDIT OWN REVIEW --}}
            <div class="review-container">
                <div class="hidden edit-myreview ">
                    <form ref="edit" id="edit">
                        <textarea class="edit-rating" name="rating">{{myReview.[0].rating}}</textarea>
                        <br>
                        <textarea class="edit-area" cols="60" rows="10" name="edit">{{myReview.[0].comment}}</textarea>
                        <br>
                        <button type="button" class="save-btn btn btn-secondary">SAVE CHANGES</button>
                        <button type="button" class="cancel-btn btn btn-primary">CANCEL</button>
                    </form>
                </div>
            </div>

            {{!-- REVIEW FROM ALL USERS --}}
            {{#each recipeReview}}
            <article class="card card-body">
                <div class="recipe_review">
                    <p>username:{{this.username}}</p>
                    <p>rating:{{this.rating}}</p>
                    <p class="display-area">comment:{{this.comment}}</p>
                </div>
            </article>
            {{/each}}


            {{!-- Related Recipes --}}
            <h3>Related Recipes</h3>
            <section class="text-center">
                {{#each similarRecipesArray}}
                <div class="row">
                    <a href="../recipe/{{this.id}}">{{this.title}}</a>
                </div>
                {{/each}}
            </section>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>