<div class="container-fluid ">
    <h2><b>{{username}}'s Recipes</b></h2>

    {{#unless uploadedRecipeArr}}
    <h2>You have not uploaded any recipes</h2>
    {{/unless}}

    {{#each uploadedRecipeArr}}
    <div class="row uploaded_card d-flex">
        <div class="image-container">
            <img class="img-fluid uploaded_image" width="180px" height="auto" src="{{this.image_path}}">
            <div class="row d-flex justify-content-center">
                <button id={{this.id}} class="bookmark-del-btn" data-recipeid={{this.id}}>
                    REMOVE</button>
            </div>
        </div>

        {{!--
        </a> --}}
        <div class="recipe-info col-9">
            <p class="recipe-link">

                <a href="/{{this.id}}">
                    {{math @index "+" 1}}. {{this.title}}
                </a>
            </p>
            <p>
                {{this.rating}}
                <i class="fas fa-star"></i>
            </p>
            {{!-- <p><b style="font-size: 15px">Description:</b><br><br> {{{this.summary}}}</p> --}}
        </div>
    </div>
    {{/each}}

    <div class="container">
        <form action="#" enctype="multipart/form-data" method="POST">
            <input type="file" id="fileid" name="recipeimageupload" accept="IMAGE/JPG" , "IMAGE/PNG" , "IMAGE/JPEG">
            <input class="recipe-upload-btn" type="submit" value="Upload" / hidden>
            <br />

            <br />
            <div class="row">
                <label>Title</label>
                <textarea class="recipe-title-edit" placeholder=""></textarea>
            </div>
            <br />
            <div class="row">
                <label>Summary</label>
                <textarea class="recipe-summary-edit" rows="10" cols="50" placeholder=""></textarea>
            </div>
            <br />
            <div class="row">
                <label>Instructions</label>
                <textarea class="recipe-instructions-edit" rows="10" cols="50" placeholder=""></textarea>
            </div>
            <br />
            <div class="row">
                <label>Preparation time</label>
                <input type="number" class="preptime" name="quantity" min="1" max="120">
                <p>minutes</p><br><br>
            </div>
            <br />
            <div class="row">
                <label>Servings</label>
                <input type="number" class="serving-quantity" name="quantity" min="1" max="10">
                <p>people</p><br><br>
            </div>
            <br />
            <div class="row">
                <label>Difficulty</label>
                <select class="recipe-difficulty-edit js-states form-control" style="width: 20%" id="id_label_single">
                    <option>Easy</option>
                    <option>Medium</option>
                    <option>Hard</option>
                </select>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <button type="button" class="reicpe-save-btn btn btn-primary btn btn-outline-warning"
                        data-userid="{{userid}}">Save Changes</button>
                </div>
            </div>
        </form>
    </div>